.InterestingInfo {
  margin-top: 100px;
  margin-left: 30px;

  .InfoFacts {
    margin-bottom: 50px;

    .imgLightning {
      float: left;
      padding-right: 20px;
    }
  }

  .imgDesertAtakama {
    width: 100%;
    height: 500px;
    padding: 0 30px 20px 0;
  }

  .imgClouds {
    float: left;
    padding: 0 20px 20px 0;
  }

  h1 {
    font-family: "Poller One", cursive;
  }

  p {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}

@media (max-width: 720px) {
  .InterestingInfo {
    .imgDesertAtakama {
      height: auto;
    }
  }
}
