.wrapperDataWeather{
    .infoError{
        font-size: 15px;
        color: #000;
        font-family: 'Poller One', cursive;
        padding-top: 10px;
    }
.dataWeather{
    p{
      font-size: 15px;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin-top: 10px; 
      line-height: 16px; 
    }
  }
}